<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Historial Mis Eventos</title>
    <link rel="icon" sizes="192x192" href="/img/icon.png">
</head>
<body>
    <div class="container border-bottom" id="general-horizontal">
        <div class="border-bottom mb-3">
            <%- include('../partials/headerUsuario.ejs') %>
        </div>
        <% for(let i = 0; i < eventos.length; i++) { %>
            <% var evento = eventos[i] %>
            <div class="row justify-content-between mb-3" id="display-flex-margin-bottom">
                <div class="col-lg-6 col-12 row rounded-3 border border-black border-3">
                    <div class="col-7 text-center">
                        <div class="mt-2">
                            <h1><strong><u><%= evento.titulo %></u></strong></h1>
                        </div>
                        <div class="">
                            <h3><b>Lugar: </b><%= evento.ubicacion %></h3>
                        </div>
                        <div class="">
                            <h4><strong>Fecha: </strong><%= (evento.fecha).toLocaleDateString('es-ES') %></h4>
                        </div>
                        <div class="">
                            <h4><strong>Hora: </strong><%= evento.hora %></h4>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <a href="/usuario/eventos/historial/<%= evento.id %>" class="btn btn-dark col-4 mx-2">Historial</a>
                        </div>
                    </div>
                    <img class="img-fluid col-5" src="/img/<%= evento.tipo %>.png" style="width:40%;">
                </div>
                <% i++; %>
                <% if(i < eventos.length) { %>
                    <% var evento = eventos[i] %>
                    <div class="col-lg-6 col-12 row rounded-3 border border-black border-3">
                        <div class="col-7 text-center">
                            <div class="mt-2">
                                <h1><strong><u><%= evento.titulo %></u></strong></h1>
                            </div>
                            <div class="">
                                <h3><b>Lugar: </b><%= evento.ubicacion %></h3>
                            </div>
                            <div class="">
                                <h4><strong>Fecha: </strong><%= (evento.fecha).toLocaleDateString('es-ES') %></h4>
                            </div>
                            <div class="">
                                <h4><strong>Hora: </strong><%= evento.hora %></h4>
                            </div>
                            <div class="row justify-content-center mb-3">
                                <a href="/usuario/eventos/historial/<%= evento.id %>" class="btn btn-dark col-4 mx-2">Historial</a>
                            </div>
                        </div>
                        <img class="img-fluid col-5" src="/img/<%= evento.tipo %>.png" style="width:40%;">
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
   
    <!--------------------------------MODALES--------------------------->
    <!--Modal de opciones-->
    <%- include('../partials/accesibilidadModal.ejs') %> 

    <!--------------------------------LIBRERIAS--------------------------->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/accesibilidadScript.js"></script>
    <script>
        $(document).ready(function () {
            // Manejo de conflicto entre modales
            $('#botonOpciones').on('show.bs.modal', function () {
                $('.modal.show').not(this).modal('hide'); // Cierra otros modales si están abiertos
            });

            // Reparar bloqueo del scroll al cerrar el modal
            $(document).on('hidden.bs.modal', function () {
                if ($('.modal.show').length > 0) {
                    $('body').addClass('modal-open');
                } else {
                    $('body').removeClass('modal-open');
                }
            });
        });
    </script>
</body>
</html>
