<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <title>Eventos UCM</title>
    <link rel="icon" sizes="192x192" href="/img/icon.png">
</head>
<body>
    <div class="container" id="general-horizontal">
        <%- include('../partials/headerIndex.ejs') %>

        <div class="border-bottom mb-3">
            <form action="/busqueda" class="row text-center align-items-end" id="busqueda" method="post">
                <div class="col-md-2 mb-3">
                    <b>Fecha Inicio</b>
                    <input type="date" class="form-control" name="fechaInicio" placeholder="Inicio">
                </div>
                <div class="col-md-2 mb-3">
                    <b>Fecha Final</b>
                    <input type="date" class="form-control" name="fechaFinal" placeholder="Inicio">
                </div>
                <div class="col-md-2 mb-3">
                    <b>Ubicaci贸n</b>
                    <input type="text" class="form-control" name="ubicacion" placeholder="Ubicaci贸n">
                </div>
                <div class="col-md-2 mb-3">
                    <b>Tipo evento</b>
                    <select class="form-select" name="tipo" required>
                        <option value="cualquiera">Cualquiera</option>
                        <option value="taller">Taller</option>
                        <option value="conferencia">Conferencia</option>
                        <option value="seminario">Seminario</option>
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <b>Capacidad</b>
                    <input type="text" class="form-control" name="capacidad" placeholder="Capacidad">
                </div>

                <!--Bot贸n refrescar busqueda-->
                <div class="col-md-1 mb-4 text-center">
                    <a href="/"><img src="/img/recargar.png" alt="Refrescar" style="width:40px;"></a>
                </div>
            
                <!-- Bot贸n de lupa -->
                <div class="col-md-1 mb-4 text-center">
                    <button type="submit" class="btn p-0 border-0">
                        <img src="/img/search.png" alt="Buscar" style="width:40px; cursor: pointer;">
                    </button>
                </div>
            </form>
        </div>

        <!-- Acordeon de opciones-->
        <div class="accordion mb-3">
            <% for(let i = 0; i < eventos.length; i++) { %>
            <% const evento = eventos[i] %>
            <div class="accordion-item">
                <h2 class="accordion-header"> 
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= i %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= i %>">
                        <%= evento.titulo %>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse<%= i %>" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div>
                                    <h4><%= evento.descripcion %></h4>
                                </div>
                                <div class="">
                                    <h3><b>Lugar: </b><%= evento.ubicacion %></h3>
                                </div>
                                <div class="">
                                    <h4><strong>Fecha: </strong><%= (evento.fecha).toLocaleDateString('es-ES') %> a las <%= evento.hora %></h4>
                                </div>
                                <button class="btn btn-dark registrarme-btn" id="<%= evento.id %>">Registrarme</button>
                            </div>
                            <img class="img-fluid col-3" src="/img/<%= evento.tipo %>.png">
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <script src="/js/apuntarEvento.js"></script>
        </div>       
    </div>
    <!--Modales-->
    <%- include('../partials/modalesIndex.ejs') %> 
    <script src="/js/accesibilidadScript.js"></script>
    
</body>
</html>