<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mis Eventos</title>
    <link rel="icon" sizes="192x192" href="/img/icon.png">
</head>
<body>
    <div class="container border-bottom" id="general-horizontal">
        <div class="border-bottom mb-3">
            <%- include('../partials/headerUsuario.ejs') %>
        </div>
        <div class=""><!--container de los eventos-->
            <% for(let i = 0; i < eventos.length; i++) { %>
                <% evento = eventos[i] %>
            <div class="row justify-content-between mb-3" id="display-flex-margin-bottom">
                <div class="col-6 row rounded-3 border border-black border-3">
                    <div class="col-7 text-center">
                        <div class="mt-2">
                            <h1><strong><u><%= evento.titulo %></u></strong></h3>
                        </div>
                        <div class="">
                            <h3><b>Lugar: </b><%= evento.ubicacion %></h3>
                        </div>
                        <div class="">
                            <h4><strong>Fecha: </strong><%= (evento.fecha).toLocaleDateString('es-ES') %></h4>
                        </div>
                        <div class="">
                            <h4><strong>Hora: </strong><%= evento.hora %></h4>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <button class="btn btn-dark col-4 mz-2" id="botonModificar<%= i %>" data-bs-toggle="modal" data-bs-target="#modalModificar<%= i %>">Modificar</button>
                            <a href="/usuario/eventos/cola/<%= evento.id %>" class="btn btn-dark col-4 mx-2" id="botonCola<%= i %>" h>Gestión Cola</a>
                        </div>
                    </div>
                    <img class="img-fluid col-5" src="/img/<%= evento.tipo %>.png" style="width:40%;">
                </div>
                <% i++; %>
                <% if(i !== eventos.length){ %>
                    <% evento = eventos[i] %>
                    <div class="col-6 row rounded-3 border border-black border-3">
                        <div class="col-7 text-center">
                            <div class="mt-2">
                                <h1><strong><u><%= evento.titulo %></u></strong></h3>
                            </div>
                            <div class="">
                                <h3><b>Lugar: </b><%= evento.ubicacion %></h3>
                            </div>
                            <div class="">
                                <h4><strong>Fecha: </strong><%= (evento.fecha).toLocaleDateString('es-ES') %></h4>
                            </div>
                            <div class="">
                                <h4><strong>Hora: </strong><%= evento.hora %></h4>
                            </div>
                            <div class="row justify-content-center mb-3">
                                <button class="btn btn-dark col-4 mz-2" id="botonModificar<%= i %>" data-bs-toggle="modal" data-bs-target="#modalModificar<%= i %>">Modificar</button>
                                <a href="/usuario/eventos/cola/<%= evento.id %>" class="btn btn-dark col-4 mx-2" id="botonCola<%= i %>" h>Gestión Cola</a>
                            </div>
                        </div>
                        <img class="img-fluid col-5" src="/img/<%= evento.tipo %>.png" style="width:40%;">
                    </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
   
   <!--------------------------------MODALES--------------------------->
   
    <!--Modal de opciones-->
    <div class="modal fade" id="botonOpciones" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog"> <!--Estructura de modal-->
            <div class="modal-content"><!--Contenido para el header-body-footer del modal-->
                <div class="modal-header justify-content-between"><!--Header Modal-->
                    <h5 id="tituloModal">Menú de Accesibilidad</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <div class="alert alert-success"></div>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de Modificar-->
    <% for(let i = 0; i < eventos.length; i++) { %>
    <% evento = eventos[i] %>
    <div class="modal fade" id="modalModificar<%= i %>" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 id="tituloEvento<%= i %>">Evento 1</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                        <form action="/usuario/eventos/modificar/<%= evento.id %>" class="text-center" id="registroSesion" method="post">
                            <div id="margin-bottom">
                                <b>Titulo</b>
                                <input type="text" class="form-control" name="titulo" value="<%= evento.titulo %>" required>
                            </div>
                            <div id="margin-bottom">
                                <b>Descripcion</b>
                                <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3"><%= evento.descripcion %></textarea>
                            </div>
                            <div id="margin-bottom">
                                <b>Fecha</b>
                                <input type="date" class="form-control" name="fecha" value="<%= evento.fecha %>" required>
                            </div>
                            <div id="margin-bottom">
                                <b>Hora</b>
                                <input type="time" class="form-control" name="hora" value="<%= evento.hora %>" required>
                            </div>
                            <div id="margin-bottom">
                                <b>Ubicacion</b>
                                <input type="text" class="form-control" name="ubicacion" value="<%= evento.ubicacion %>" required>
                            </div>
                            <div id="margin-bottom">
                                <b>Capacidad Maxima</b>
                                <input type="text" class="form-control" name="capacidad" value="<%= evento.capacidad %>" required>
                            </div>
                            <div id="margin-bottom">
                                <b>Tipo de evento</b>
                                <select type="text" name="tipo" class="form-control" required>
                                    <option>Seminario</option>
                                    <option>Taller</option>
                                    <option>Conferencia</option>
                                </select>
                            </div>
                            <div>
                                <input type="submit" value="Editar Evento" class="btn btn-dark mt-3 mb-3 col-12">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"><!--Footer Modal-->
                        <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                            Cerrar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!--------------------------------LIBRERIAS--------------------------->

    <!--Librería con popper incluida, necesaria para los modales-->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
