<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perfil Usuario</title>
    <link rel="icon" sizes="192x192" href="/img/icon.png">
</head>
<body>
    <div class="container">
        <div class="border-bottom mb-3">
            <%- include('headerUsuario.ejs') %>
        </div>
        
        <!--Cuerpo del HTML-->
                    
        <div class="col-8 justify-content-between border border-black rounded-5 border-3 p-3" id="general-centered">
            <div class="row justify-content-center">
                <div class="col-2 text-center">
                        <img src="/img/usuario.png">
                </div>
            </div>
            
            <div class="col-6 container rounded-5 mb-4">
               <% const user = users[0]%> 
                <h3><b>Nombre: </b><%= user.nombre %></h3>
                <h3><b>Correo: </b><%= user.correo %></h3>
                <h3><b>Teléfono: </b><%= user.telefono %></h3>
                <h3><b>Facultad: </b><%= user.facultad %></h3>
            </div>
            <div class="row justify-content-center mb-3 mt-3">
                <button class="btn btn-dark col-4 mz-2" id="evento1" data-bs-toggle="modal" data-bs-target="#modalModificar">Modificar</button>
                <button class="btn btn-danger col-4 mz-2" id="cerrarSesion" data-bs-toggle="modal" data-bs-target="#modalCerrar">Cerrar Sesión</button>
            </div>
        </div>
    </div>
   
   <!--------------------------------MODALES--------------------------->
   
    <!--Modal de opciones-->
    <div class="modal fade" id="botonOpciones" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog"> <!--Estructura de modal-->
            <div class="modal-content"><!--Contenido para el header-body-footer del modal-->
                <div class="modal-header justify-content-between"><!--Header Modal-->
                    <h5 id="tituloModal">Menú de Accesibilidad</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <div class="alert alert-success"></div>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de Modificar-->
    <div class="modal fade" id="modalModificar" tabindex="-2" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 id="tituloEvento1">Modificar Perfil</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <form class="text-center" id="registroSesion" method="post">
                        <div id="margin-bottom">
                            <b>Titulo</b>
                            <input type="text" class="form-control" name="nombre" value="<%= user.nombre %>" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Correo</b>
                            <input type="text" class="form-control" name="correo" value="<%= user.correo%>" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Teléfono</b>
                            <input type="tel" class="form-control" name="telefono" value="<%= user.telefono %>" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Facultad</b>
                            <select type="text" class="form-select" name="facultad" value="<%= user.facultad %>" required>
                                <option value="informatica">Informática</option>
                                <option value="biologia">Biología</option>
                                <option value="fisica">Física</option>
                                <option value="matematicas">Matemáticas</option>
                            </select>
                        </div>
                        <div>
                            <input type="submit" value="Editar Evento" class="btn btn-dark mt-3 col-12">
                        </div>
                    </form>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Cerrar Sesión-->
    <div class="modal fade" id="modalCerrar" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog"> <!--Estructura de modal-->
            <div class="modal-content"><!--Contenido para el header-body-footer del modal-->
                <div class="modal-header justify-content-between"><!--Header Modal-->
                    <h5 id="tituloModal">Quiere Cerrar Sesión?</h5>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <form action="/usuario/cerrar" method="post">
                        <button class="btn btn-danger">Adiós</button>
                    </form>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--------------------------------LIBRERIAS--------------------------->

    <!--Librería con popper incluida, necesaria para los modales-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

